
<h2>Education</h2>

<h3>Harrisburg Christian School</h3>
<p>Graduated in 2019 at the top of my class with High Honors, a 4.2 GPA, <br>
    and as a member of the National Honor Society<br> <br>
</p>

<h3>Eastern University</h3>
<p> Working to Graduate in 2022 with a double major in Mathematics and<br>
    Computer Science.  Current GPA : 3.9<br> <br>
</p>

<h2> Projects</h2>

<h3> Hangman </h3>
<p>
    This is a simple project to build a graphic version of the classic <br>
    game hangman. <br>
</p>

<h3> Machine Learning Project</h3>
<p>
    My team and I were able to develop a machine learning model that I <br>
    have deployed right in this Website.
</p>




