{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
	 <link rel="stylesheet" href="{{url_for('static', filename='resume.css') }}">
</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">

		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Sean Cottrell</h1>
					<h2>Computer Science/Data Science Major, Eastern University</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><a href="mailto:sean.cottrell@eastern.edu">sean.cottrell@eastern.edu</a></h3>
						<h3>(856) 426 -4164</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								College athlete by day, data scientist by night!
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">

					</div><!--// .yui-gf -->



						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job last">
								<h2>Tall Pines Day Camp</h2>
								<h3>Counselor</h3>
								<h4>2019-2020</h4>
								<p>Took care of kids. </p>
							</div>







						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2>St. Augustine Prepatory School  - Wayne, Pennsylvania</h2>
							<h3> High School &mdash; <strong>Graduated with Honors</strong> </h3>
						</div>
						<div class="yui-u">
							<h2>Eastern University - Wayne, Pennsylvania</h2>
							<h3>Major, Computer Science &mdash; <strong>3.8 GPA</strong> </h3>
						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Sean Cottrell &mdash; <a href="mailto:sean.cottrell@eastern.edu">sean.cottrell@eastern.edu</a> &mdash; (856) -426-4164</p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->

</body>
</html>
</body>
{% endblock %}