</p>

<hr>

<h2>Education</h2>


</p>

<h3>Eastern University</h3>
<p> Working to Graduate in 2022 with a major in Computer Science and<br>
    minor in Marketing.  Current GPA : 3.5<br> <br>
</p>

<hr>

<h2> Projects</h2>

<h3> Hangman </h3>
<p>
    This is a simple project to build a graphic version of the classic <br>
    game hangman. <br>
</p>

<h3> Machine Learning Project</h3>
<p>
    My team and I were able to develop a machine learning model that I <br>
    have deployed right in this Website.
</p>
<h2> Career Experience</h2>

<h3>First Job</h3>

<p>
    meow meow <br>

</p>






</body>