{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
	 <link rel="stylesheet" href="{{url_for('static', filename='resume.css') }}">
</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">

		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Alec Harrod</h1>
					<h2>Computer Science Major, Eastern University</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><a href="mailto:name@yourdomain.com">alec.harrod@eastern.edu</a></h3>
						<h3>(484) 942 -3620</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								Progressively evolve cross-platform ideas before impactful infomediaries. Energistically visualize tactical initiatives before cross-media catalysts for change.
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>Proficient in</h2>
									<p>Microsoft Word</p>
									<p>Microsoft Excel</p>
								</div>

								<div class="talent">
									<h2>Leadership</h2>
									<p>Proven ability to lead and manage a team toward a goal</p>

								</div>

								<div class="talent">
									<h2>Communication</h2>
									<p>Proven ability deliver information effectively</p>
								</div>
						</div>
					</div><!--// .yui-gf -->



					<div class="yui-gf">

						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>Best Buy</h2>
								<h3>Geek Squad Consultation Agent</h3>
								<h4>2020-Present</h4>
								<p>Diagnose and repair software and hardware issues with client's computers and various other devices </p>
							</div>

							<div class="job">
								<h2>Apple Inc.</h2>
								<h3>Mobile Repair Agent</h3>
								<h4>2020-Present</h4>
								<p>Diagnose and repair software and hardware issues with iPhones, iPads, Apple watches, Macbooks, and iMacs. </p>
							</div>

							<div class="job last">
								<h2>Phoenixville Area Middle School</h2>
								<h3>7th & 8th Grade Boys Soccer Coach</h3>
								<h4>2014-2015</h4>
								<p>Coached and developed soccer skills through daily practices and weekly games</p>
							</div>


						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>

						<div class="yui-u">
							<h2>Eastern University - St. Davids, Pennsylvania</h2>
							<h3>Computer Science Major &mdash; <strong>3.5 GPA</strong> </h3>
						</div>
						<div class="yui-u">
							<h2>Valley Forge Baptist Academy - Collegeville, Pennsylvania</h2>
							<h3> Graduated Historian &mdash; <strong>3.8 GPA</strong> </h3>
						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Alec Harrod &mdash; <a href="mailto:name@yourdomain.com">alec.harrod@numbers.edu</a> &mdash; (484) 942-3620</p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}

