</p>

<hr>

<h2>Education</h2>

<h3>St. Augustine Preporatory School</h3>
<p> Graduated in 2020 at the top of my class with High Honors, a 4.0 GPA, <br>
    and as a member of the National Honor Society<br> <br>
</p>

<h3>Eastern University</h3>
<p> Working to Graduate in 2024 with a double major in Computer Science and<br>
    Data Science. <br> <br>
</p>

<hr>

<h2> Projects</h2>

<h3> Machine Learning Project</h3>
<p>
    My team and I were able to develop a machine learning model that I <br>
    have deployed right in this Website.
</p>
